# C++ .gitignore

# Compiled Object files
*.slo
*.lo
*.o

#Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Eclipse project files
.classpath
.project
.cproject
.settings/
project.properties

# CMake
CMakeFiles
Makefile
CMakeCache.txt
cmake_install.cmake
install_manifest.txt

# Directories wich shouldn't be tracked by Git
mpi-example/

# Grid config files
*.grid

# some bash scripts
copy_to_server*
connect_to_server*
